<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Spring Boot課題</title>
	</head>
	<body>
	<h2>お問い合わせフォーム</h2>

	<form th:action="@{/confirm}" th:object="${contactForm}" method="post">
	    <table>
	        <tr>
	            <th style="text-align: left;">お名前</th>
	            <td>
	                <input type="text" th:field="*{name}" />
	                <br>
	                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>
	            </td>
	        </tr>
	        <tr>
	            <th style="text-align: left;">メールアドレス</th>
	            <td>
	                <input type="text" th:field="*{email}" />
	                <br>
	                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></div>
	            </td>
	        </tr>
	        <tr>
	            <th style="text-align: left;">お問い合わせ内容</th>
	            <td>
	                <textarea th:field="*{message}" cols="30" rows="10"></textarea>
	                <br>
	                <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" style="color: red;"></div>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <button type="submit">送信</button>
	            </td>
	        </tr>
	    	</table>
		</form>
	</body>
